body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: linear-gradient(to top right,#00ff,#00f0),
              linear-gradient(to bottom right,#f0ff,#f0f0),
              linear-gradient(to bottom left,#f00f,#f000);
  color: #fff;
}

#root {
  height: 100%;
  display: grid;
  place-items: center;
}

h1 {
  font-weight: 100;
  font-size: 72px;
}
